<html>
  <head>
    <meta charset="utf-8">
    <title>{{i18n "title"}}</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
  	<div>
    	<h3>{{i18n "hello" name=user.name}}</h3>
    	<p>{{i18n "buy"}}</p>
    	{{>shopping-list cart=user.cart}}
	</div>
  </body>
</html>